
/* <!---------------------------------  BEGIN NAVBAR  -------------------------------------> */
/* BOOTSTRAP NOTES ABOUT OUR NAVBAR SELECTION:
/* Navbar navigation links build on our .nav options with their own modifier class and require the use of toggler classes for proper responsive styling. Navigation in navbars will also grow to occupy as much horizontal space as possible to keep your navbar contents securely aligned.
Active states—with .active—to indicate the current page can be applied directly to .nav-links or their immediate parent .nav-items. */

/* <!---------------------------------  END NAVBAR  -------------------------------------> */

#formsContainer {
    background-color: burlywood;
    margin: 25px;
    padding: 25px;
    border: 5px solid black
}
#newsContainer {
    background-color: burlywood;
    margin: 25px;
    padding: 25px;
    border: 5px solid black
}
#taskContainer {
    background-color: burlywood;
    margin: 25px;
    padding: 25px;
    border: 5px solid black
}
#calContainer {
    background-color: burlywood;
    margin: 25px;
    padding: 25px;
    border: 5px solid black
}
#messageContainer {
    background-color: burlywood;
    margin: 25px;
    padding: 25px;
    border: 5px solid black
}
#bestiesContainer {
    background-color: burlywood;
    margin: 25px;
    padding: 25px;
    border: 5px solid black
}